html {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial,sans-serif;    
}

.container {
    padding: 0;
    margin: 0;
}

nav {
    display: block;
    /*float: right; */   
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #404040;
    font-size: 13px;
    margin-left: 5px;
    padding: 0;
}

nav a:hover {
    text-decoration: underline;      
}

.navbar {
    border: 1px dashed blue;  
    padding: 0;
    margin-right: 0;
}

.Logo {
    padding-top: 150px;
    text-align: center;
    border: 1px solid red;  
    margin-bottom: 35px;
}

.Logo img {
    height: 95px;
    width: 269px;    
}

.Search {
    text-align: center;
    /*border: 1px solid green;*/
    margin-bottom: 15px;
    width: 570px;
    height: 29px;
}

input[type=text] {
  font-size: 15px;
  padding: 0 0 0 4px;
  display:inline-block;
  float: left;
  width: 535px;
  height: 27px;
  border-top:    1px solid #DCDCDC;
  border-right:  none;
  border-bottom: 1px solid #DCDCDC;
  border-left:   1px solid #DCDCDC;
    &:focus {
    outline: none;
    border-top:    1px solid #4285F4;
    border-right:  none;
    border-bottom: 1px solid #4285F4;
    border-left:   1px solid #4285F4;
  }
}